/* Membership Styles
---------------------------------------- */
li.header dt.column20pc {
	float: left;
	width: 15%;
}

ul.topiclist dt.column20pc {
	float: left;
	width: 15%;
}
.column10pc {
	float: left;
	width: 10%;
    text-align: center;
}
.column15pc {
	float: left;
	width: 15%;
    text-align: center;
}
.column10pcleft {
	float: left;
	width: 10%;
    text-align: left;
}
.column10pcright {
	float: right;
	width: 10%;
    text-align: right;
}
.column15pcleft {
	float: left;
	width: 15%;
    text-align: left;
}
.column20pc {
	float: left;
	width: 20%;
}
.column30pc {
	float: left;
	width: 30%;
}
.column60pc {
	float: left;
	width: 60%;
}
dd.message {
    width: 100%;
}
.wrong {
    color: red;
}
.ok {
    color: black;
}
.form_ok {
    color: black;
    display:none;
}
.form_error {
    color: red;
    display:block;
}
.payment_button
{ 
    color:white;
    height: 45px;
    width: 116px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0px solid #FFFFFF;
    display: block;
    cursor: pointer;
}
.centeredImage
{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}