<!-- INCLUDE overall_header.html -->
<script type="text/javascript">

var nbsp = 160;		// non-breaking space char
var emptyString = /^\s*$/ ;
var global_valfield;	// retain valfield for timer thread

// --------------------------------------------
//				  trim
// Trim leading/trailing whitespace off string
// --------------------------------------------

function trim(str)
{
  return str.replace(/^\s+|\s+$/g, '');
}

// --------------------------------------------
//				  setfocus
// Delayed focus setting to get around IE bug
// --------------------------------------------

function setFocusDelayed()
{
  global_valfield.focus();
}

function setfocus(valfield)
{
  // save valfield in global variable so value retained when routine exits
  global_valfield = valfield;
  setTimeout( 'setFocusDelayed()', 100 );
}


// --------------------------------------------
//				  msg
// Display warn/error message in HTML element.
// commonCheck routine must have previously been called
// --------------------------------------------

function msg(msgtype, // class to give element ("warn" or "error")
			 message) // string to display
{
  // setting an empty string can give problems if later set to a 
  // non-empty string, so ensure a space present. (For Mozilla and Opera one could 
  // simply use a space, but IE demands something more, like a non-breaking space.)
  var dispmessage;
  if (emptyString.test(message)) 
	dispmessage = String.fromCharCode(nbsp);	
  else  
	dispmessage = message;

  var elem = document.getElementById('error_msg');
  elem.innerHTML = dispmessage;  
  
  elem.className = msgtype;   // set the CSS class to adjust appearance of message
}


function fieldok(validField)
{
	validField.className = 'ok';
}

function fielderror(invalidField)
{
	msg ("form_error", "ERROR: not a valid Number");
	invalidField.className = 'wrong';
}

function orderTotal   (valfield,   // element to be validated
						 required)  // true if required
{
	if (!document.getElementById)
	{ 
		return true;  // not available on this browser - leave validation to the server
	}
	if (emptyString.test(valfield.value))
	{
		if (required) 
		{
			msg ("form_error", "ERROR: required");  
			setfocus(valfield);
			return false;
		}
	}
	var lineNo = valfield.id.slice(-1);
	var varType = valfield.id.slice(-4,-1);
	var regEx, fixed;

	if (varType == 'qty')
	{
		regEx =  /^[0-9]{1,3}$/;
		fixed = 'amt';
	}
	else
	{
		regEx = /(?!^0*$)(?!^0*\.0*$)^\d{1,5}(\.\d{1,3})?$/;
		fixed = 'qty';
	}

	var grandTotal = document.getElementById('grand_total');
	var invalidForm = false;
	var x = new Array;
	
	x = document.getElementsByName(varType+'[]');
	
	for (var i=0;i<x.length;i++)
	{
		var secpart = document.getElementById('payment_request_'+fixed+i);
		var ltElement = document.getElementById('payment_request_line_total'+i);
		var total = 0;
		var newvalue = new Number;

		var obj = x.item(i);

		var tfld = trim(obj.value);
		if (regEx.test(tfld)) 
		{
			linetotal=tfld * secpart.innerHTML;
			total = total + linetotal;
			newvalue=parseFloat(obj.value);
			obj.value=(newvalue.toFixed(2)).toString();
			fieldok(obj);

			ltElement.innerHTML=linetotal.toFixed(2);
			ltElement.style.visibility = 'visible';
		}
		else
		{
			fielderror(obj);
			ltElement.style.visibility = 'hidden';
			invalidForm = true;
		}
	}
	obj = document.getElementById('grand_total');
	if (invalidForm)
	{
   		obj.style.visibility = 'hidden';
		setfocus(valfield);	
	}
	else
	{
		obj.innerHTML=total.toFixed(2);
   		obj.style.visibility = 'visible';
		msg("form_ok","");	  
	}
}
</script>
<h2>{L_PAYMENT_PAGETITLE}</h2>
<form method="post" action="{S_ACTION}">
	<h2>SHOPPING BASKET {shopping_basket.BASKET_NAME}</h2>
	<p id="error_msg" class="{DISPLAY_ERROR}">{ERROR_MSG}</p>
	<div class="forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
							<dd class="column10pcleft" style="width: 8%; text-align:center;">Delete</dd>
							<dd class="column10pcleft">{L_PRODUCT_CODE}</dd>
							<dd class="column30pc">{L_DESCRIPTION}</dd>
							<dd class="column10pc">{L_QUANTITY}</dd>
							<dd class="column10pc">{L_AMOUNT}</dd>
							<dd class="column10pcleft">{L_CURRENCY_CODE}</dd>
							<dd class="column10pc">{L_TOTAL}</dd>
					</dl>
				</li>
			</ul>
		
	   		<ul class="topiclist forums">
			<!-- BEGIN batch -->
				<li class="row">
					<dl>
						<dd class="column10pcleft" style="width: 8%">
							<a href="{batch.DELETE}"><p class="centeredImage"><img src="{T_IMAGES_PATH}cross.gif" alt="Delete Line"/></p></a>
						</dd>
						<dd class="column10pc">{batch.PRODUCT_CODE}</dd>
						<dd class="column30pc">{batch.PAYMENT_REQUEST_DESC}</dd>
						<dd class="column10pc">
						<!-- IF batch.FIXED_QTY == 1 -->
							<span id="payment_request_qty{batch.S_ROW_COUNT}" name="qty" style="text-align:right">{batch.PAYMENT_REQUEST_QTY}</span>
						<!-- ELSE -->
							<input 
								type="text" 
								id="payment_request_qty{batch.S_ROW_COUNT}" 
								title="Enter quantity" 
								name="qty[]" 
								value="{batch.PAYMENT_REQUEST_QTY}"  
								class="{batch.QTY_STYLE}" 
								style="text-align:right" 
								size="10"  
								onChange="orderTotal(this)"  
								/>
						<!-- ENDIF -->
						</dd>
						<dd class="column10pc">
						<!-- IF batch.FIXED_AMT == 1 -->
						   <span id="payment_request_amt{batch.S_ROW_COUNT}" name="amt" style="text-align:right">{batch.PAYMENT_REQUEST_AMT}</span>
						<!-- ELSE -->
							<input 
								type="text" 
								id="payment_request_amt{batch.S_ROW_COUNT}" 
								title="Enter amount" 
								name="amt[]" 
								value="{batch.PAYMENT_REQUEST_AMT}"
								class="{batch.AMT_STYLE}"
								style="text-align:right"  
								size="10"  
								onChange="orderTotal(this, true)" 
								/>
						<!-- ENDIF -->
						</dd>
						<dd class="column10pcleft">{batch.PAYMENT_REQUEST_CURRENCYCODE}</dd>
						<dd class="column10pc"
								id="payment_request_line_total{batch.S_ROW_COUNT}" 
								name="line_total" 
								style="visibility:visible;text-align:right"
								>
								{batch.PAYMENT_REQUEST_LINE_TOTAL}
						</dd>
					</dl>
				</li>
			<!-- END batch -->
			</ul>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
		<div class="forabg" style="width: 52%; float: right">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl>
	  						<dd class="column10pc" style="width: 20%"> </dd>
	  						<dd class="column10pcleft" style="width: 20%">{L_CURRENCY_CODE}</dd>
	  						<dd class="column10pc" style="width: 20%">{L_AMOUNT}</dd>
	   					</dl>
		 			</li>
				</ul>
			   	<ul class="topiclist forums">
			  		<li class="row">
			 			<dl>
							<dd class="column10pc" style="width: 20%">{L_GRAND_TOTAL}</dd>
							<dd class="column10pcleft"  style="width: 20%">{batch.PAYMENT_REQUEST_CURRENCYCODE}</dd>
							<dd class="column10pc" id="grand_total"  style="width: 20%; visibility:visible; text-align:right">{GRAND_TOTAL}</dd>
			 			</dl>
			  		</li>
			   	</ul>
		   		<span class="corners-bottom"><span></span></span>
			</div>
		</div>
	<div class="content">
  
		<fieldset>
			<!-- BEGIN pp_payment_methods -->
			<dl>
				<dt><label for="{pp_payment_methods.NAME}">{pp_payment_methods.LABEL}:</label><br />{pp_payment_methods.EXPLAIN}</dt>
				<dd>
				<!-- IF pp_payment_methods.PAYMENT_IMAGE == 'standard' -->
					<span class="sd-button"><input type="submit" class="form_button" name="method" value="{pp_payment_methods.NAME}"></span>
				<!-- ELSE -->
					<input 
						type	="submit"  
						name	="method" 
						value   ="{pp_payment_methods.NAME}" 
						class   ="payment_button" 
						style   ="background-image:url('{pp_payment_methods.PAYMENT_IMAGE}')" 
					/>
				<!-- ENDIF -->
				</dd>
			</dl>
			<!-- END pp_payment_methods -->
		</fieldset>
		<br />
		<span class="sd-button"><input type="submit" class="form_button" id="return" name="return" value="{L_CONTINUE_SHOPPING}"></span>
		<span class="sd-button"><input type="submit" class="form_button" id="backout" name="backout" value="{L_EMPTY_BASKET}"></span>

		<span class="corners-bottom"><span></span></span>
	</div>
</form>
<!-- INCLUDE overall_footer.html --> 